{% extends 'base_superadmin.html' %}


{% block content %}
    <style>
        #menueffect{
          box-shadow :0 0 8px 1px rgba(0, 0, 0, 0.5);
        }
        body{
          background: url("/static/images/bg1.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          overflow-x: hidden;
        }
    </style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("a[id$='menueffect']").hover(function(){
    $(this).css("color", "black");
    $(this).css("box-shadow", "0 0 5px 3px rgba(0, 140, 186, 0.5)");
    }, function(){
    $(this).css("color", "grey");
    $(this).css("box-shadow", "0 0 8px 1px rgba(0, 0, 0, 0.5)");
  });
  $("a[id$='notif']").hover(function(){
    $(this).css("opacity", "0.7");
    }, function(){
    $(this).css("opacity", "1");
  });
});
</script>

<div class="d-flex flex-column" style="min-height: 92vh; width: 100%;">

  <!--Pengelolaan Fasilitas Kantor Bank BJB-->

  <div class="row justify-content-center" style="margin-top: 15vh; color: #2b2a2a;">
    
    <div class="col-md-8" style="margin-top: 8vh;">
      <h2 style="color: white; text-align: center; font-family: unset; text-shadow: 1px 1px 15px black; ">Sistem Pengelolaan Fasilitas Divisi IT</h2>
      <h5 style="text-align: center; font-family: unset; color: white; text-shadow: 1px 1px 15px black; ">Super Admin</h5>
    </div>
    
  </div>

  <!--Akhir Katanya-->

  <div class="container" style="margin-top: 13vh; margin-bottom: 5vh;">
    <div class="row menu-hover" style="text-align: center; justify-content: center;">
 
<!--       <a href="{% url 'kelolagroup' %}" id="menueffect" class="col-md-3 jumbotron custom-menu" style="text-decoration: none; color: grey; margin: 2vh; ">
        <img src="/static/images/group.png" alt="" style="width: 10vh; height: 10vh; margin-right: 3vh; margin-left: -2vh;">
          <b>Kelola Group</b>
      </a> -->

      <a href="{% url 'alldata' %}" id="menueffect" class="col-md-3 jumbotron custom-menu" style="text-decoration: none; color: grey; margin: 2vh; ">
        
        <img src="/static/images/alldata1.png" alt="" class="icon" style="width: 10vh; height: 10vh; margin-right: 3vh; margin-left: -2vh;">
          <b>Semua Pengajuan</b>
<!--           <p style="margin-bottom:-5vh; margin-left: 8vh; padding-top: -10vh;">jumlah data : {{data}}</p> -->



      <a href="{% url 'kelolauser' %}" id="menueffect" class="col-md-3 jumbotron custom-menu" style="text-decoration: none; color: grey; margin: 2vh; ">
        <img src="/static/images/kelolauser.png" alt="" style="width: 10vh; height: 10vh; margin-right: 3vh; margin-left: -2vh;">
          <b>Kelola User</b>
      </a>
      
    </div>
  </div>
    <div class="container" style="margin-bottom: 15vh;">
    <div class="row menu-hover" style="text-align: center; justify-content: center;">

      <a href="/admin/" id="menueffect" class="col-md-3 jumbotron custom-menu" style="text-decoration: none; color: grey; margin: 2vh; ">
        <img src="/static/images/admin.jpg" alt="" style="width: 10vh; height: 10vh; margin-right: 3vh; margin-left: -2vh;">
          <b>Admin Site</b>
      </a>

      </a>

      <a href="{% url 'serahterima2' %}" id="menueffect" class="col-md-3 jumbotron custom-menu" style="text-decoration: none; color: grey; margin: 2vh; ">
        <img src="/static/images/serahterima.png" alt="" style="width: 10vh; height: 10vh; margin-right: 3vh; margin-left: -2vh;">
          <b>Serah Terima</b>
      </a>

    </div>
  </div>
</div>

  {% endblock %}