{% extends 'base_gh_0.html' %}

{% block content %}


<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

<script text="javascript">
    setTimeout(fade_out, 2000);
    function fade_out() {
        $("#popup").fadeOut().empty();
    }
</script>

<div class="d-flex flex-column" style="min-height: 92vh; width: 100%;">

    <!--Fitur Tambah Pengajuan-->
  <div class="row" style="margin-top: 10%;">
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <h4 style="color: #204d95; font-weight: bold; margin-bottom: 3vh; margin-top: 5vh; ">Pengajuan Barang Sekum Divisi IT</h4>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-2">
    </div>
    <div class="col-md-1"></div>

  </div>


    <!--Tables-->
    {% for message in messages %}
    {% if message %}
        <center>
        <div class="alert alert-{{ message.tags }} col-md-10" id="popup" >{{ message }}</div>
      </center>
        {% endif %}
      {% endfor %}
  <div class="row custom-table">

    <!--div kosong bagian kiri table-->
    <div class="col-md-1"></div>
    <!--akhir div kosong-->

    <div class="col-md-10 fa4-align-center table-responsive-sm">
    <table class="table table-striped table-white table-bordered" >
      <thead class="" style="background-color: #204d95; color: whitesmoke; ">
        <tr>
          <!-- <th scope="col">NIK</th> -->
          <th scope="col" style="width: 15%;">NIK</th>
          <th scope="col" style="width: 15%;">Group</th>
          <th scope="col" style="width: 16%;">Nama Barang</th>
          <th scope="col" style="width: 30%;">Spesifikasi</th>
          <th scope="col">Jumlah</th>
          <th scope="col" style="width: 30%;">Landasan Kebutuhan Barang</th>
          <th scope="col">Gambar</th>
          <th scope="col">Status</th>
          <th scope="col">Opsi</th>
        </tr>
      </thead>
      <tbody>
        {% for pengajuan_gh_0  in permintaan10 %}
        <tr>
          <!-- <th scope="row">13895723</th> -->
          <td scope="row">{{ pengajuan_gh_0.nik }}</td>
          <td>{{ pengajuan_gh_0.group_id}}</td>
          <td>{{ pengajuan_gh_0.nama_barang }}</td>
          <td>{{ pengajuan_gh_0.spesifikasi }}</td>
          <td>{{ pengajuan_gh_0.jumlah }}</td>
          <td>{{ pengajuan_gh_0.landasan_kebutuhan }}</td>
          <td>{% if pengajuan_gh_0.gambar %}
            <img src="{{ pengajuan_gh_0.gambar.url }}" width=90px>
            {% endif %}</td>

            {% if pengajuan_gh_0.status == 0 %}
            <td>None</td>
            {% elif pengajuan_gh_0.status == 1 %}
            <td>Approve 1</td>
            {% elif pengajuan_gh_0.status == 2 %}
            <td>Dalam Proses</td>
            {% elif pengajuan_gh_0.status == 3 %}
            <td>Approve 2</td>
            {% else %}
            <td>Rejected</td>
            {% endif %}
          
          <td>
            {% if pengajuan_gh_0.status == 0 %}
            <a class="btn btn-success" href="{% url 'approve0' pengajuan_gh_0.id %}" role="button" style="color: white ; margin: 1vh;">Approve</a>
            <a class="btn btn-danger" href="{% url 'disapprove0' pengajuan_gh_0.id %}" role="button" style="color: white ; margin: 1vh;">Reject</a>
            {% elif pengajuan_gh_0.status == 5 %}
            <button class="btn btn-danger" disabled="disabled" role="button" style="color: white ;">Rejected</button>
            {% else %}
            <button class="btn btn-warning" disabled="disabled" role="button" style="color: white ;">Approved</button>
            {% endif %}
        </td>

        </tr>
        {% endfor %}          
      </tbody>
    </table>
  </div>

  <!--div kosong bagian kanan table-->
  <div class="col-md-1"></div>
  <!--akhir div kosong-->

</div>
<!--Akhir Table-->
</div>   


{% endblock %}