{% extends 'base.html' %}

{% block content %}

<div class="d-flex flex-column" style="min-height: 92vh; width: 100%;">

    <!--Teks Hasil Tindak Lanjut-->
  <div class="row" style="margin-top: 10%;">
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <h4 style="color: #204d95; font-weight: bold; margin-bottom: 3vh; margin-top: 5vh; ">Penerimaan Barang</h4>
      <a class="btn btn-primary" href="{% url 'issue_items' queryset.id %}" role="button" style="margin-bottom: 3vh; margin-top: 5vh; position: relative; ">Ambil Barang</a>
      <!-- <a class="btn btn-danger" href="{% url 'receive_items' queryset.id %}" role="button" style="margin-bottom: 3vh; margin-top: 5vh; position: relative; ">Tambah Barang</a> -->
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-3">
      <a class="btn btn-success" href="{% url 'tambah_terima' %}" role="button" style="margin-bottom: -32vh; margin-top: 5vh; position: relative; ">+ Tambah Serah Terima</a>
    </div>
    <div class="col-md-1"></div>

  </div>


    <!--Tables-->

  <div class="row custom-table">

    <!--div kosong bagian kiri table-->
    <div class="col-md-1"></div>
    <!--akhir div kosong-->

    <div class="col-md-10 fa4-align-center table-responsive">
    <table class="table table-striped table-white table-bordered" >
      <thead class="" style="background-color: #204d95; color: whitesmoke; ">
        <tr>
          <th scope="col">No Memo Pengajuan</th>
          <th scope="col">Nama barang </th>
           <th scope="col">Jumlah barang </th>
           <th scope="col">Perihal Memo</th>
          <th scope="col">Tanggal Memo Pengajuan</th>
          
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ queryset.nomor_memo }}</td>
          <td>{{ queryset.nama_barang }}</td>
          <td>{{ queryset.jumlah2 }}</td> 
          <td>{{ queryset.perihal_memo }}</td>
          <td>{{ queryset.tanggal_memo }}</td>
 
        </tr>
      </tbody>
    </table>
  </div>

  <!--div kosong bagian kanan table-->
  <div class="col-md-1"></div>
  <!--akhir div kosong-->

</div>

<!--Akhir Table-->

{% endblock %}