{% extends 'base5.html' %}

{% block content %}

<div class="d-flex flex-column" style="min-height: 92vh; width: 100%;">

    <!--Bagian Container Kotaks-->
    
    <div class="row" style="background-color: #e3e4e6; min-height: 92vh;">
        <div class="col">
            <div class="container">
                <div class="row justify-content-center" style="margin-top: 50px;">
                    <div class="col-lg-9">
                        <div class="card o-hidden border-0 shadow-lg my-5" style="background-color: #fff;">
                            <div class="card-body pb-20">
                                <div class="row justify-content-center" style="margin-top: 20px;">
                                    <div class="col-lg">
                                        <div class="text-center">
                        <h4>Tambah Pengajuan</h4>
                        <div class="progress" style="margin-top: 3vh;">
                          <div class="progress-bar" style="width: 100%; background-color: green; "></div>
                      </div>
                      </div> 
                      {% if pesan %}
                      <div class="alert alert-success">{{ pesan }}</div>
                  {% endif %} 
                      <form action="/tambah_pengajuan_5/" class="needs-validation"  method='post' enctype="multipart/form-data">
                          
                        {% csrf_token %}
                        
                        <br>
                        {{ form.as_p }}
                        
                        <div class="row mx-1" style="float:right; margin-top : 3%;">
                            <div class="col">
                                <button class="btn btn-success">
                                    Simpan
                                </button>
                            </div>
                            <div class="col">
                                <a href="{% url 'pengajuan5' %}" class="btn btn-secondary">
                                    Batal
                                </a>
                            </div>
                        </div>

                        </form>
                      
                      <!--Akhir Form-->
    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div></div>
    <script>

        var form_fields = document.getElementsByTagName('input')
        form_fields[3].value="Operation Management DC & DRC";

        
        for (var field in form_fields){	
        form_fields[field].className += ' form-control'
        }
    
    </script>
{% endblock %}